rsource "pinctrl/Kconfig"
rsource "gpio/Kconfig"
rsource "flash/Kconfig"
rsource "serial/Kconfig"
rsource "spi/Kconfig"
rsource "clock_control/Kconfig"
rsource "usb/Kconfig"
rsource "hwinfo/Kconfig"
rsource "bbram/Kconfig"
rsource "entropy/Kconfig"
rsource "watchdog/Kconfig"
rsource "crypto/Kconfig"
