rsource "flash/Kconfig"
rsource "spi/Kconfig"
rsource "usb/Kconfig"
rsource "hwinfo/Kconfig"
rsource "bbram/Kconfig"
rsource "entropy/Kconfig"
rsource "watchdog/Kconfig"
rsource "crypto/Kconfig"
rsource "rtc/Kconfig"
rsource "timer/Kconfig"
rsource "pwm/Kconfig"
