# Flash controller driver configuration options

# SPDX-FileCopyrightText: 2026 ELAN Microelectronics Corp.
#
# SPDX-License-Identifier: Apache-2.0

#
# Flash controller drivers
#

rsource "Kconfig.em32"
