/*
 * Copyright (c) 2024 ELAN Microelectronics Corp.
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		rtc0 = &rtc0;
		watchdog0 = &wdt0;
	};
};

&rtc0 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};
