/*
 * Copyright (c) 2026 ELAN Microelectronics Corp.
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/clock/em32_clock_upstream.h>

/ {
	chosen {
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
		zephyr,spi2 = &spi2;
		zephyr,udc0 = &usbd;
		zephyr,entropy = &trng0;
	};

	aliases {
		spi2 = &spi2;
		watchdog0 = &wdt0;
	};

	clocks {
		clk_apb_v2: clk-apb-v2 {
			//compatible = "elan,em32-apb-v2";
			compatible = "elan,em32-apb-v2", "elan,em32-apb";
			#clock-cells = <1>;

			/*
			 * Reference AHB v2 as APB source clock.
			 * The specifier cell is a placeholder here.
			 */
			clocks = <&clk_ahb_v2 0>;
			status = "okay";
		};

		/*
		 * New AHB clock controller (v2) with one specifier cell:
		 * <&clk_ahb_v2 gate>
		 */
		clk_ahb_v2: clk-ahb-v2 {
			//compatible = "elan,em32-ahb-v2";
			compatible = "elan,em32-ahb-v2", "elan,em32-ahb";
			#clock-cells = <1>;

			clock-source = <EM32_CLK_SRC_IRCHIGH>;
			clock-frequency = <EM32_CLK_FREQ_IRCHIGH96>;
			clock-divider = <EM32_AHB_CLK_DIV1>;

			status = "okay";
		};
	};
};

&spi2 {
	status = "okay";
};

&uart1 {
	compatible = "elan,em32-uart";
	clocks = <&clk_apb_v2 EM32_GATE_PCLKG_UART1>;
	status = "okay";
};

&gpioa {
	status = "okay";
};

&gpiob {
	status = "okay";
};

&zephyr_udc0 {
	status = "okay";
};

&uid {
	status = "okay";
};

&bbram0 {
	status = "okay";
};

&trng0 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&crypto0 {
	status = "okay";
};

/* Enable Timer controllers */
&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

/* Enable RTC */
&rtc0 {
	status = "okay";
};

/* Enable PWM Controller - PWMB N output on PA3 */
&pwm0 {
	status = "okay";
};

&sysctrl {
	status = "disabled";
};

&pwrctrl {
	status = "disabled";
};

&clkctrl {
	status = "disabled";
};
